@inject TodoClient Client

@if (todos is null)
{
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="spinner-border" role="status"></div>
    </div>
}
else
{
    <h3 class="mb-3">Todo List</h3>

    <EditForm @ref="@form" Model="@this" OnValidSubmit="@AddTodo" class="d-flex mb-4">
        <div class="form-outline flex-fill">
            <InputText autofocus class="form-control form-control-lg text-secondary" @bind-Value="@NewTodo" placeholder="Type a new todo item" />
        </div>
    </EditForm>

    <ul class="list-group gap-2 mb-4">
        @foreach (var todo in todos)
        {
            <li class="list-group-item d-flex align-items-center gap-1" @key="@todo.Id">
                <div class="d-flex flex-grow-1">
                    <input class="form-check-input me-2 fw-light" type="checkbox" checked=@todo.IsComplete aria-label="..." @onclick="@(() => ToggleComplete(todo))" />
                    @if (@todo.IsComplete)
                    {
                        <div class="flex-grow-1 text-success">@todo.Title</div>
                    }
                    else
                    {
                        <div class="flex-grow-1 text-primary">@todo.Title</div>
                    }
                </div>
                <a class="todo-delete" data-mdb-toggle="tooltip" title="Remove item" style="text-decoration:none" @onclick="@(() => DeleteTodo(todo))">🗙</a>
            </li>
        }
    </ul>

    <h5 class="@statusClass">Status: @status</h5>
}

@code {
    List<TodoItem>? todos;
    EditForm? form;

    String status = "OK";
    String statusClass = "text-primary";

    [Required]
    public string? NewTodo { get; set; }

    [Parameter] 
    public EventCallback OnForbidden { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadTodos();
        SetStatus();
    }

    void SetStatus(string error="")
    {
        if ( error.Length == 0 ) {
            if ( todos != null ) {
                var done = todos.Where(t=>t.IsComplete).Count();
                var ess = todos.Count > 1 ? "s" : "";

                status = $"OK: {todos.Count} todo{ess}, {done} done";


                if ( done == todos.Count ) {
                    statusClass = "all-done";
                }
                else
                {
                    statusClass = "some-todo";
                }
            } else {
                status = $"OK";
            }
        } else {
            status = error;
            statusClass = "text-danger";
        }
    }

    async Task LoadTodos()
    {
        (var statusCode, todos) = await Client.GetTodosAsync();

        if (statusCode == HttpStatusCode.Forbidden || statusCode == HttpStatusCode.Unauthorized)
        {
            await OnForbidden.InvokeAsync();
        }

        SetStatus();
    }

    async Task AddTodo()
    {
        var createdTodo = await Client.AddTodoAsync(NewTodo);
        if (createdTodo is not null)
        {
            NewTodo = null;
            form!.EditContext!.MarkAsUnmodified();
            todos!.Add(createdTodo);
        }

        SetStatus();
    }

    async Task ToggleComplete(TodoItem todo)
    {
        todo.IsComplete = ! todo.IsComplete;

        var result = await Client.UpdateTodoAsync(todo);

        if ( result ) {
            SetStatus();            
        } else {
            SetStatus("Failed to update Todo!");
        }
    }

    async Task DeleteTodo(TodoItem todo)
    {
        if (await Client.DeleteTodoAsync(todo.Id))
        {
            todos!.Remove(todo);
        }

        SetStatus();
    }
}
