@inject TodoClient Client

    <div class="app bg-light">
@if (!string.IsNullOrEmpty(CurrentUser))
{
        <div class="nav-item d-flex gap-4 justify-content-end align-items-center">
            <div class="fs-4 text-secondary">Logged in as <strong>@CurrentUser</strong></div>
            <div>
                <a class="btn btn-primary" role="button" @onclick="@Logout">Logout</a>
            </div>
        </div>

        <TodoList OnForbidden="@Logout" />
}
else
{
        <LogInForm OnLoggedIn="@HandleLogin" SocialProviders="@SocialProviders" />
}
    </div>

@code {
    [Parameter] 
    public string? CurrentUser { get; set; }

    [Parameter]
    public string[] SocialProviders { get; set; } = Array.Empty<string>();


    void HandleLogin(string newUsername)
    {
        CurrentUser = newUsername;
    }

    async Task Logout()
    {
        if (await Client.LogoutAsync())
        {
            CurrentUser = null;
        }
    }
}
